<ol class="breadcrumb">
	<li><a href="#/categories">Hlavné kategórie</a></li>
	<li ng-repeat="bread in data.breadcrumbs"><a ng-href="#/categories/{{bread.id}}">{{bread.name}}</a></li>
</ol>

<h1>
	<span ng-hide="data.breadcrumbs.length > 0">Kategórie</span>
	<span ng-hide="data.breadcrumbs.length === 0">Kategória {{data.current.name}}</span>
</h1>
<p ng-hide="data.breadcrumbs.length === 0 || data.current.description.length === 0">{{data.current.description}}</p>
<p ng-hide="data.breadcrumbs.length === 3">
	<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#add-category-modal"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Pridať kategóriu</button>
</p>
<div class="row">
	<div class="col-xs-6 col-md-4 col-lg-3 tile" ng-repeat="category in data.categories">
		<a ng-href="#/categories/{{category.id}}" class="tile">
			<img ng-src="cat_img/{{category.img}}_medium.jpg" class="img-responsive" alt="{{category.name}}"/>
			<div class="tile-body">
				<h3>{{category.name}}</h3>
				<p ng-show="category.description">{{category.description}}</p>
			</div>
		</a>
		<button type="button" class="btn btn-danger" ng-click="deleteCategory(category.id)"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> Zmazať</button>
	</div>
</div>
<div ng-hide="data.breadcrumbs.length === 0">
	<h2>Jedlá v kategórii {{data.current.name}}</h2>
	<p>
		<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#add-food-modal"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Pridať nové Jedlo</button>
	</p>

	<div class="row">
		<div class="col-xs-6 col-md-4 col-lg-3" ng-repeat="food in data.food">
			<div class="tile">
				<img ng-src="food_img/{{food.img}}_medium.jpg" class="img-responsive" alt="{{food.name}}"/>
				<div class="tile-body">
					<h3>{{food.name}}</h3>
					<p ng-show="food.description">{{food.description}}</p>
				</div>
			</div>
			<button type="button" class="btn btn-danger" ng-click="deleteFoodFromCategory(food.id, data.current.id)"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> Zmazať</button>
		</div>
	</div>

	<h3>Pridať existujúce jedlo</h3>
	<div class="alert alert-{{autocomplete.notice.alert}} alert-dismissible" role="alert" ng-show="autocomplete.notice.alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{autocomplete.notice.msg}}
	</div>
	<div class="form-inline">
		<div class="form-group form-group-sm">
			<label for="food-autocomplete">Názov jedla</label>
			<input class="form-control" id="food-autocomplete" ng-change="autocomplete.search()" ng-model="autocomplete.text" ng-model-options="{debounce: 300}">
		</div>
	</div>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Názov jedla</th>
					<th class="hidden-xs">Popis</th>
					<th>Obrázok</th>
					<th class="hidden-xs">Kategórie</th>
					<th>Pridať</th>
					<th>Zmazať</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="food in autocomplete.food">
					<td>{{food.id}}</td>
					<td>{{food.name}}</td>
					<td class="hidden-xs">{{food.description}}</td>
					<td><img ng-src="food_img/{{food.img}}_thumb.jpg" class="img-responsive" alt="{{food.name}}"/></td>
					<td class="hidden-xs"><a ng-repeat="category in food.categories" href="#/categories/{{category.id}}" class="btn btn-default btn-sm">{{category.name}}</a></td>
					<td><button type="button" class="btn btn-success" ng-click="addFoodToCategory(food.id, data.current.id)"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
					<td><button type="button" class="btn btn-danger" ng-click="deleteFood(food.id)"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>



<!-- Modal -->
<div class="modal fade" id="add-category-modal" tabindex="-1" role="dialog" aria-labelledby="add-category-modal-label">
	<div class="modal-dialog" role="form">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="add-category-modal-label">Pridať kategóriu</h4>
			</div>
			<form ng-submit="addCategory()">
				<!--<input type="hidden" value="{{data.current.id}}" name="category-parent" ng-model="newCat.parent">-->
				<div class="modal-body">
					<div class="form-group">
						<label for="category-name" class="control-label">Názov kategórie *:</label>
						<input type="text" class="form-control" name="category-name" ng-model="newCat.name" id="category-name" required>
					</div>
					<div class="form-group">
						<label for="category-description" class="control-label">Popis kategórie:</label>
						<textarea class="form-control" name="category-description" ng-model="newCat.description" id="category-description"></textarea>
					</div>
					<div class="form-group">
						<label for="category-image" class="control-label">Obrázok kategórie:</label>
						<input type="file" accept="image/*" name="category-image" id="category-image" file-model="myFile">
					</div>
				</div>
				<div class="modal-footer">
					<div class="spinner" ng-show="modalLoading">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>
					<button type="button" class="btn btn-default" data-dismiss="modal">Zrušiť</button>
					<button type="submit" class="btn btn-primary" ng-disabled="modalLoading">Uložiť</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="add-food-modal" tabindex="-1" role="dialog" aria-labelledby="add-food-modal-label">
	<div class="modal-dialog" role="form">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="add-food-modal-label">Pridať jedlo</h4>
			</div>
			<form ng-submit="addFood()">
				<!--<input type="hidden" value="{{data.current.id}}" name="category-parent" ng-model="newCat.parent">-->
				<div class="modal-body">
					<div class="form-group">
						<label for="food-name" class="control-label">Názov jedla *:</label>
						<input type="text" class="form-control" name="food-name" ng-model="newFood.name" id="food-name" required>
					</div>
					<div class="form-group">
						<label for="food-description" class="control-label">Popis jedla:</label>
						<textarea class="form-control" name="food-description" ng-model="newFood.description" id="food-description"></textarea>
					</div>
					<div class="form-group">
						<label for="food-image" class="control-label">Obrázok jedla:</label>
						<input type="file" accept="image/*" name="food-image" id="food-image" file-model="myFile">
					</div>
				</div>
				<div class="modal-footer">
					<div class="spinner" ng-show="modalLoading">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>
					<button type="button" class="btn btn-default" data-dismiss="modal">Zrušiť</button>
					<button type="submit" class="btn btn-primary" ng-disabled="modalLoading">Uložiť</button>
				</div>
			</form>
		</div>
	</div>
</div>
