<div>
	<h1>Vytvorenie objednávky</h1>
	<p>
		<button class="btn btn-primary" type="button" ng-click="createOrder()"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Vytvoriť novú objednávku</button>
	</p>

	<uib-accordion close-others="true" ng-hide="orders.length === 0">
		<uib-accordion-group is-open="order.isOpen" ng-repeat="order in orders">
			<uib-accordion-heading>
				Objednávka #{{order.name}}
					<span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': order.isOpen, 'glyphicon-chevron-right': !order.isOpen}"></span>
			</uib-accordion-heading>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Názov</th>
						<th>Počet</th>
						<th>Obrázok</th>
						<th>Zrušiť</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="food in order.food track by $index">
						<td>{{food.id}}</td>
						<td>{{food.name}}</td>
						<td>
							<div class="input-group food-cnt">
								<div class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="food.count = food.count - 1 || 1"><span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span></button>
								</div>
								<input type="text" class="form-control" aria-label="Počet" ng-model="food.count" positiveinteger>
								<div class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="food.count = food.count + 1"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span></button>
								</div>
							</div>
						</td>
						<td><img ng-src="food_img/{{food.img}}_thumb.jpg" class="img-responsive" alt="{{food.name}}"/></td>
						<td><button type="button" class="btn btn-danger" ng-click="deleteFood(order, $index)"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> Zmazať</button></td>
					</tr>
				</tbody>
			</table>
			<div>
				<button type="button" class="btn btn-default" ng-click="cancelOrder(order)">Zrušiť objednávku</button>
				<button type="button" class="btn btn-primary pull-right" ng-disabled="order.food.length === 0" ng-click="postOrder(order)">Odoslať objednávku</button>
			</div>
		</uib-accordion-group>
	</uib-accordion>


	<div class="row">
		<div class="col-xs-6 col-md-4 col-lg-3" ng-repeat="food in data.food">
			<div class="tile">
				<img ng-src="food_img/{{food.img}}_medium.jpg" class="img-responsive" alt="{{food.name}}"/>
				<div class="tile-body">
					<h3>{{food.name}}</h3>
					<p ng-show="food.description">{{food.description}}</p>
				</div>
			</div>
			<button type="button" class="btn btn-danger" ng-click="deleteFoodFromCategory(food.id, data.current.id)"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> Zmazať</button>
		</div>
	</div>

	<h3>Pridať existujúce jedlo</h3>
	<div class="alert alert-{{autocomplete.notice.alert}} alert-dismissible" role="alert" ng-show="autocomplete.notice.alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{autocomplete.notice.msg}}
	</div>
	<div class="form-inline">
		<div class="form-group form-group-sm">
			<label for="food-autocomplete">Názov jedla</label>
			<input class="form-control" id="food-autocomplete" ng-change="autocomplete.search()" ng-model="autocomplete.text" ng-model-options="{debounce: 300}">
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Názov jedla</th>
				<th>Popis</th>
				<th>Obrázok</th>
				<th>Kategórie</th>
				<th>Pridať</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="food in autocomplete.food">
				<td>{{food.id}}</td>
				<td>{{food.name}}</td>
				<td>{{food.description}}</td>
				<td><img ng-src="food_img/{{food.img}}_thumb.jpg" class="img-responsive" alt="{{food.name}}"/></td>
				<td><a ng-repeat="category in food.categories" href="#/categories/{{category.id}}" class="btn btn-default btn-sm">{{category.name}}</a></td>
				<td><button type="button" class="btn btn-success" ng-click="autocomplete.orderFood(food)"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
			</tr>
		</tbody>
	</table>
</div>
