<div>
	<h1>Štatistiky konzumovaných jedál</h1>
	<form class="form-inline">
		<div class="form-group">
			<label>od</label>
			<div class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" clear-text="Vynulovať" close-text="Zatvoriť" current-text="Dnes" ng-click="open1()" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>

		<div class="form-group">
			&nbsp;<label>do</label>
			<div class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" clear-text="Vynulovať" close-text="Zatvoriť" current-text="Dnes" ng-click="open2()" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>

		<div class="form-group">
			&nbsp;<label for="maxFoodCnt">Max počet jedál</label>
			<input type="number" class="form-control" id="maxFoodCnt" ng-model="maxFoodCnt" min="1" max="10">
		</div>

		<button type="submit" class="btn btn-primary" ng-click="getFilteredData()">Použiť</button>
	</form>

	<h2>Najviac konzumované jedlá</h2>
	<div class="row" ng-show="maxConsumedFood.length > 0">
		<div id="most-popular" class="col-md-8 col-lg-7"></div>
		<div class="col-md-4 col-lg-5">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Jedlo</th>
						<th>Ks</th>
						<th>Obrázok</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="food in maxConsumedFood">
						<td>{{food.id}}</td>
						<td>{{food.name}}</td>
						<td>{{food.cnt}}</td>
						<td><img ng-src="food_img/{{food.img}}_thumb.jpg" width="46" height="46" class="img-responsive" alt="{{food.name}}"/></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="alert alert-warning" role="alert" ng-show="maxConsumedFood.length === 0">Žiadne dáta na zobrazenie</div>

	<h2>Jedlá konzumované v kategóriách</h2>
	<div id="food-cnt-by-cat" ng-show="foodCat.length > 0"></div>
	<div class="alert alert-warning" role="alert" ng-show="foodCat.length === 0">Žiadne dáta na zobrazenie</div>

	<h2>Počet jedál skonzumovaných za deň</h2>
	<div id="food-cnt-per-day" ng-show="foodPerDay.length > 0"></div>
	<div class="alert alert-warning" role="alert" ng-show="foodPerDay.length === 0">Žiadne dáta na zobrazenie</div>
</div>
