<div>
	<h1>Správa používateľov</h1>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Meno</th>
				<th>Email</th>
				<th>Rola</th>
				<th>Aktivovaný</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>{{user.id}}</td>
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>
					<div class="btn-group">
						<label class="btn btn-default" ng-model="user.role" ng-click="changeUsersRole(user)" uib-btn-radio="1">Manažér</label>
						<label class="btn btn-default" ng-model="user.role" ng-click="changeUsersRole(user)" uib-btn-radio="2">Čašník</label>
					</div>
				</td>
				<td>
					<button type="button" class="btn btn-default" ng-model="user.active" ng-click="changeUsersRole(user)" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">{{user.active}}</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
