@import "bootstrap";

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

table.table > tbody > tr > td {
	vertical-align: middle;
}

.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;

	.text-muted {
		margin: 20px 0;
	}
}

#stats-app {
	position: relative;

	.loading {
		position: absolute;
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,0.75);
		z-index: 999;
	}

	.tile {
		position: relative;
		display: block;
		overflow: hidden;

		&:hover {
			.tile-body p {
				margin-bottom: 10px;
			}
		}

		.tile-body {
			padding: 0 0.5em;
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: rgba(0,0,0,0.75);
			color: #fff;

			h3 {
				margin-top: 10px;
			}
			p {
				margin-bottom: -20px;
				transition: margin-bottom 0.3s ease;
			}
			h3, p {
				@extend .truncate;
				width: 100%;
			}
		}
	}
}

.input-group.food-cnt {
	width: 120px;

	input {
		text-align: center;
	}
}

.modal .spinner {
	margin-top: 0;
}

/*SVG d3js graphs*/
#most-popular, #food-cnt-by-cat, #food-cnt-per-day {
	text-align: center;
}
.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.tick line{
	opacity: 0.2;
}

#food-cnt-per-day {
	.x.axis path {
		display: none;
	}
	.line {
		fill: none;
		stroke: steelblue;
		stroke-width: 1.5px;
	}
	.overlay {
		fill: none;
		pointer-events: all;
	}
	.focus circle {
		fill: none;
		stroke: steelblue;
	}
}

rect.overlay {
	fill: none;
	stroke: none;
}

/*3rd party: http://tobiasahlin.com/spinkit/*/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}